<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - activityfinder</title>
    <link rel="icon" type="image/png" href="~/image/hk-logo.png"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/activityfinder_asp.net.styles.css" asp-append-version="true" />
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     <script type="text/javascript">
        navigator.geolocation.getCurrentPosition(pos => {
            const coords = [parseFloat(pos.coords.latitude), parseFloat(pos.coords.longitude)]
            $.ajax({
                type: "POST",
                url: '@Url.Action("FetchCoordinates", "Home")',
                async: true,
                data: { coords: coords },
                success: function (recData) { console.log("Successful sent coordinates") },
                error: function () { console.log("Error. Coordinates were not sent") }
            });
        });
    </script>
    <ejs-scripts></ejs-scripts>
    <section>
        <header>
        <a asp-action="index" class="logo"><img src="@Url.Content("~/image/hk-logo.png")"/></a>
         <ul>
            <li><a asp-action="index">Home</a></li>
            <li><a asp-action="discover">Discover</a></li>
                @if (Context.Session.GetString("email") != null)
                {
                    @if (Context.Session.GetString("admin") != null)
                    {
                        <li><a asp-action="addactivity">Dashboard</a></li>
                    }
                    <li><a asp-action="logout">Logout</a></li>
                } else
                {
                    <li><a asp-action="login">Login</a></li>
                    <li><a asp-action="register">Register</a></li>
                }
            </ul>
        </header>
        @RenderBody()
          <footer class="border-top footer text-muted">
        <div class="container">
            Created by Hassan K, student ID: s205409 at the Techincal University of Denmark
        </div>
            </footer>
    </section>
        <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">activityfinder_asp.net</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                @*</div>*@
            </div>
        </nav>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
