@using activityfinder_asp.net.Models.Dto;

@{
    ViewData["Title"] = "Sign up";
}

@model Account;

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/register.css" />
</head>

<body>
     <div class="center">
        <h1>Sign up to get started!</h1>
        @using (Html.BeginForm("RegisterAccount", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken();
    <div class="txt_field">
                    <input name="name" id="fullname" type="text" required />
                    <span></span>
                    <label>Full name</label>
                </div>
            <div class="txt_field">
                <input type="email" name="email" id="email" required />
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="email" name="repeatemail" id="repeatemail" required />
                <span></span>
                <label>Repeat e-mail</label>
            </div>
            <div class="txt_field">
                <input name="password" id="password" type="password" required />
                <span></span>
                <label>Password</label>
            </div>
            <div class="txt_field">
                    <input name="repeatpassword" id="repeatpassword" type="password" required />
                    <span></span>
                    <label>Repeat password</label>
                </div>
            <h6>To professor: Include "DTU" in the password for Admin rights to explore more features</h6>
            <p id="danger" name="danger" class="text-danger">@TempData["Error-Message"]</p>
            <h4>@TempData["Successful"]</h4>
            <div class="pass">
                Forgot your password?
            </div>
                <input type="submit" id="registersubmit" disabled="disabled" value="Let's get started!">
                <div class="has-account">
                Already have an account? <a asp-action="login">Log in</a>
            </div>
            <script type="text/javascript">
                window.onload=function() {
                  setTimeout(function() {
                    document.getElementById('registersubmit').disabled = false;
                  }, 1500);
                }
            </script>
        }
    </div>
</body>