@{
    ViewData["Title"] = "Forgot password";
}


<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="center">
        <h1>Forgot your password?</h1>
        <h6>Enter your e-mail to recover your account</h6>
        @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken();
            <div class="txt_field">
                <input name="email" id="email" type="email" required />
                <span></span>
                <label>Email</label>
            </div>
            <h4>@TempData["Response"]</h4>
            <div class="login-button">
                <input type="submit" value="Send recovery link" />
            </div>
        }
    </div>
</body>