@{
    ViewData["Title"] = "Change password";
}


<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="center">
        <h1>Forgot your password?</h1>
        <h6>Enter your e-mail to recover your account</h6>
        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            ;
             <div class="txt_field">
                <input type="email" name="email" id="email" required />
                <span></span>
                <label>Email</label>
                </div>
                <div class="txt_field">
                <input name="password" id="password" type="password" required />
                <span></span>
                <label>New password</label>
                </div>
                <div class="txt_field">
                    <input name="repeatpassword" id="repeatpassword" type="password" required />
                    <span></span>
                    <label>Repeat new password</label>
                </div>
                 <p id="danger" name="danger" class="text-danger">@TempData["Error-Message"]</p>
                 <h4>@TempData["Successful"]</h4>
                <div class="login-button">
                    <input type="submit" value="Change password" />
                </div>
        }
    </div>
</body>